.header {
    background-color: var(--main-color);
    padding: .8rem 0rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.container__logo {
    display: flex;
    align-items: center;
}

.container__nav {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.container__nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.container__nav ul li a {
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

.container__button {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .nav {
        justify-content: center;
    }

    .container__logo {
        order: 1;
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    
    .container__nav {
        order: 3;
        width: 100%;
        display: none;
        border: 1px solid red;       
    }

    .container__button {
        order: 2;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .container__nav ul {
        margin-top: 10px;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
}