@import url(./_Variables.css);

/* Estilos de Componentes */
@import url(./component-styles/_HeadNav.css);
@import url(./component-styles/_Buttons.css);
@import url(./component-styles/_Layout.css);
@import url(./component-styles/_Collapse.css);
@import url(./component-styles/_imageuser.css);
@import url(./component-styles/_Education_item.css);
@import url(./component-styles/_Modal.css);

/* Estilos páginas */
@import url(./pages-styles/_dashboard.css);

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
}

.wrapper {
    max-width: 55%;
    margin: 0 auto;
}

.bfix {
    border: 1px solid red;
}

.h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

p {
    padding: .5rem 0rem;
    font-weight: 300;
}

label {
    font-weight: 700;
    font-size: 1.125rem;
}

input {
    margin: .8rem 0rem;
    display: block;
    width: 98%;
    height: 2.2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b6b6b6;
    border-radius: 0.25rem;
}

.display-none {
    display: none;
}

@media only screen and (max-width: 1400px) {
    .wrapper {
        max-width: 85%;
        margin: 0 auto;
    }
  }














/* .nav__items ul {
    display: flex;
    gap: 30px;
}

.nav__items ul li {
    padding: 1rem;
}

.nav__items ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.info__login,
.form__login {
    padding: 1rem;
}

.info__login h2 {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.info__login p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}


.form__container {
    background-color: var(--white);
    border-radius: 10px;
    padding: 2.5rem;
    box-shadow: 3px 5px 11px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.form__header h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.form__header p {
    font-size: 1.125rem;
    line-height: 30px;
}


label {
    font-weight: 700;
    font-size: 1.125rem;
}

input {
    margin: .8rem 0rem;
    display: block;
    width: 98%;
    height: 2.2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b6b6b6;
    border-radius: 0.25rem;
}

.button__submit {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}




.screen__login {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 2rem;
}

.h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    color: var(--secondary-color);
}

.h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}







.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.4rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-color {
    color: #fff;
    background-color: #8320ED;
    border-color: #8320ED;
}

.button-color {
    color: #fff;
    background-color: #8320ED;
    border-color: #8320ED;
}

.button:hover {
    color: #212529;
    text-decoration: none;
} */