@import url(./_Variables.css);

/* Estilos de Componentes */
@import url(./component-styles/_HeadNav.css);
@import url(./component-styles/_Buttons.css);
@import url(./component-styles/_Layout.css);
@import url(./component-styles/_Collapse.css);
@import url(./component-styles/_imageuser.css);
@import url(./component-styles/_Education_item.css);
@import url(./component-styles/_Modal.css);
@import url(./component-styles/_loadingscreen.css);
@import url(./component-styles/_SkillsInfo.css);
/* Estilos páginas */
@import url(./pages-styles/_dashboard.css);

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
}

.wrapper {
    max-width: 55%;
    margin: 0 auto;
}

.bfix {
    border: 1px solid red;
}

.h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.name_h1 {
    text-transform: capitalize;
}

.h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

p {
    padding: .5rem 0rem;
    font-weight: 300;
}

label {
    font-weight: 700;
    font-size: 1.125rem;
}

b {
    font-weight: 500;
}

input {
    margin: .8rem 0rem;
    display: block;
    width: 98%;
    height: 2.2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b6b6b6;
    border-radius: 0.25rem;
}

.display-none {
    display: none;
}

.footer {
    color: var(--secondary-color);
    margin-top: 4rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.footer p {
    font-weight: 500;
}

@media only screen and (max-width: 1400px) {
    .wrapper {
        max-width: 85%;
        margin: 0 auto;
    }
}